
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    font-family: 'Times New Roman';
    text-align: center;
    padding: 1em;
    justify-content: center;
}

header img {
    max-width: 100%; 
    height: auto;
    margin-right: 10px;
}
section {
    width: 800px; 
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px; 
    padding: 20px;
}
#wrapper{
    margin:auto;
    width:100%;
}
#menu-section {
    max-width: 600px;
}

#specials-section {
    max-width: 100px;
}

h2 {
    color: #333;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    padding: 20px; 

}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menu-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.chipsTab {
    display: inline-block;
    margin-left: 220px;
}

.sizeTab {
    display: inline-block;
    margin-left: 80px;
}

.priceTab1 {
    display: inline-block;
    margin-left: 160px;
}

.priceTab2 {
    display: inline-block;
    margin-left: 140px;
}

.priceTab3 {
    display: inline-block;
    margin-left: 135px;
}


.itemTab1 {
    display: inline-block;
    margin-left: 320px;
}

.itemTab2 {
    display: inline-block;
    margin-left: 325px;
}

.itemTab3 {
    display: inline-block;
    margin-left: 330px;
}

.itemTab4 {
    display: inline-block;
    margin-left: 195px;
}

.itemTab5 {
    display: inline-block;
    margin-left: 120px;
}

.itemTab6 {
    display: inline-block;
    margin-left: 210px;
}

.itemTab7 {
    display: inline-block;
    margin-left: 121px;
}

.itemTab8 {
    display: inline-block;
    margin-left: 124px;
}

.itemTab9 {
    display: inline-block;
    margin-left: 245px;
}

.itemTab10 {
    display: inline-block;
    margin-left: 255px;
}

.singleMealTab {
    display: inline-block;
    margin-left: 120px;
}

.picTab {
    display: inline-block;
    margin-left: 80px;
}
.sidesTab {
    display: inline-block;
    margin-left: 500px;
}

.sidesPriceTab1 {
    display: inline-block;
    margin-left: 415px;
}

.sidesPriceTab2 {
    display: inline-block;
    margin-left: 442px;
}

.sidesPriceTab3 {
    display: inline-block;
    margin-left: 510px;
}

.sidesPriceTab4 {
    display: inline-block;
    margin-left: 362px;
}



.pizza-button { 
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.pizza-button img {
    width: 900px; 
    height: 300px; 
}

#image {
    border-collapse: collapse;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
    
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
    
li {
    float: right;
}
    
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Times New Roman';
    font-size: large;
}
    
li a:hover {
    color: #767676;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    }


.image-container img {
    width: 100%;
    height: auto;
    display: block;
    }

    .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: Arial, sans-serif;
    }

    .popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}